body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 200px);
    padding: 20px;
}

.auth-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.auth-container h1 {
    margin-bottom: 20px;
    font-size: 32px; /* Збільшений шрифт */
}

.auth-forms {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.auth-form input {
    padding: 15px; /* Збільшений відступ */
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 18px; /* Збільшений шрифт */
}

.auth-form button {
    padding: 15px; /* Збільшений відступ */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Збільшений шрифт */
}

.auth-form button:hover {
    background-color: #0056b3;
}