<div class="footer_company_container">
    <div class="logo"></div>
    <div class="slogan">"Не бий мене по губі, бо я граю на трубі..."</div>
    <div class="rights">© Всі права захищені «Sexofon» 2025</div>
</div>
<div class="footer_link_container">
    <h1>Каталог</h1>
    <a href="/pages/catalog/acoustic_systems/acoustic_systems.html">Акустичні системи</a>
    <a href="/pages/catalog/keyboard_instruments/keyboard_instruments.html">Клавішні інструменти</a>
    <a href="/pages/catalog/musical_equipment/musical_equipment.html">Музичне обладнання</a>
    <a href="/pages/catalog/guitars_and_equipment/guitars_and_equipment.html">Гітари та обладнання</a>
    <a href="/pages/catalog/percussion_instruments/percussion_instruments.html">Ударні інструменти</a>
    <a href="/pages/catalog/DJ_equipment/DJ_equipment.html">DJ обладнання</a>
    <a href="/pages/catalog/wind_instruments/wind_instruments.html">Духові інструменти</a>
    <a href="/pages/catalog/Hi-Fi_and_Hi-End_equipment/Hi-Fi_and_Hi-End_equipment.html">Hi-Fi и Hi-End техніка</a>
    <a href="/pages/catalog/home_audio/home_audio.html">Домашнє аудіо</a>
</div>
<div class="footer_link_container">
    <h1>Клієнтам</h1>
    <a href="/pages/catalog/catalog.html">Каталог</a>
    <a href="/pages/about_us/about_us.html">Про нас</a>
    <a href="/pages/delivery_and_payment/delivery_and_payment.html">Доставка та оплата</a>
    <a href="/pages/exchange_and_warranty/exchange_and_warranty.html">Обмін та гарантія</a>
    <a href="/pages/contacts/contacts.html">Контакти</a>
    <a href="/pages/other/map.html">Мапа сайту</a>
    <a href="/pages/other/creditnails.html">Кредитування</a>
</div>
<div class="footer_link_container">
    <h1>Контакти</h1>
    <div class="phones">
        <i class="fas fa-phone"></i>
        <div class="phone_numbers">
            <a href="tel:+380983741340">+380983741340</a>
            <a href="tel:+380983741340">+380983741340</a>
            <a href="tel:+380983741340">+380983741340</a>
            <a href="tel:+380983741340">+380983741340</a>
        </div>
    </div>
    <div class="telegram contact_row">
        <i class="fab fa-telegram"></i>
        <a href="https://t.me/+380983741340">Telegram</a>
    </div>
    <div class="instagram contact_row">
        <i class="fab fa-instagram"></i>
        <a href="https://www.instagram.com/pp_pp6571/">Instagram</a>
    </div>
    <div class="email contact_row">
        <i class="fas fa-envelope"></i>
        <a href="mailto:info@sexofon.com.ua">info@sexofon.com.ua</a>
    </div>
    <div class="address contact_row">
        <i class="fas fa-map-marker-alt"></i>
        <a href="https://www.google.com.ua/maps/place/Гуртожиток+Хмельницького+політехнічного+коледжу/">Хмельницький,
            вул. Зарічанська 10/4</a>
    </div>
</div>