<a href="/main.html" class="logo"></a>
<div class="links">
    <a href="/pages/catalog/catalog.html">Каталог</a>
    <a href="/pages/about_us/about_us.html">Про нас</a>
    <a href="/pages/delivery_and_payment/delivery_and_payment.html">Доставка та оплата</a>
    <a href="/pages/exchange_and_warranty/exchange_and_warranty.html">Обмін та гарантія</a>
    <a href="/pages/contacts/contacts.html">Контакти</a>
</div>
<div class="instruments">
    <button id="login-btn" class="auth-btn">Авторизуватись</button>
    <a href="/pages/other/fav.html" class="fav"><i class="fas fa-heart"></i></a>
    <a href="/pages/other/cart.html" class="cart"><i class="fas fa-cart-shopping"></i></a>
</div>